@model CarService.Web.ViewModels.Home.StartPageViewModel

@if (!Model.IsVerified)
{
    <div class="alert alert-info text-center">Uzupełnij swój profil pracownika</div>
}
<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-body panel-default" style="border-radius: 0px;">
                <div class="panel-heading" style="background-color:white;">
                    <h4>Ostatnio zmodyfikowane</h4>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-body panel-default" style="border-radius: 0px;">
                <div class="panel-heading" style="background-color:white;">
                    <h4>Dodaj naprawę</h4>
                </div>
            </div>
        </div>
    </div>
</div>