@model CarService.Web.ViewModels.Home.StartPageViewModel

@if (!Model.IsVerified)
{
    <div class="alert alert-info text-center">Uzupełnij swój profil pracownika</div>
}
<div class="container">
    
</div>