@model CarService.Web.ViewModels.Employee.EmployeeEdit
<div class="container">
    <div class="page-header"> @*style="color: #135bd3; >*@
        
        <div class="pull-right">
            <a href="@Url.Action("Schedule", "Employee", new { id = Model.Id})" class="btn btn-primary" style="font-size:17px; padding: 6px 6px 6px 6px; border-radius: 0px;">Moje naprawy</a>
        </div>
        <h3>Mój profil</h3>
        
    </div>
    @using (Html.BeginForm("Edit", "Employee"))
    {
        @Html.ValidationSummary()
        <div class="panel panel-body panel-default" style="border-radius: 0px;">
            <div class="row">
                <div class="col-md-5 col-md-push-1">
                    @Html.Partial("Employee/Partial/_Edit", Model)
                </div>
                <div class="col-md-7">
                    @Html.EditorFor(m => m.AddressEdit, "Shared/EditorTemplates/AddressEdit")
                </div>          
            </div>
            <button type="submit" class="btn btn-primary pull-right" style="border-radius:0px;">Zapisz</button>
        </div>
    }
</div>
