@model CarService.Web.ViewModels.Shared.Address.AddressEdit
<div class="form-group row">
    @Html.LabelFor(m => m.Street, new { @class = "control-label col-md-1" })
    <div class="col-md-4">
        @Html.TextBoxFor(m => m.Street, new { @class = "form-control" })
    </div>
    @Html.LabelFor(m => m.FlatNumber, new { @class = "control-label col-md-2" })
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.FlatNumber, new { @class = "form-control" })
    </div>
</div>