@model CarService.Web.ViewModels.Cost.EditCost
<div class="container">
    <hr />
    @using (Html.BeginForm("Edit", "Cost", new { id = Model.Id }, FormMethod.Post))
    {
        <div class="panel panel-primary" style="border-radius:0px;">
            <div class="panel-heading" style="border-radius:0px;">
                <div class="panel-title text-center" style="font-size:20px;">Edycja wyceny - Nr zlecenia: @Model.Order.Id</div>
            </div>
            <div class="panel-body">
                @Html.Partial("Cost/Partial/_Edit", Model)
            </div>
            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <button type="submit" class="btn btn-sm btn-success" style="border-radius:0px;">Zapisz</button>
                </div>
                <div class="pull-left">
                    <a href="@Model.ReturnUrl" class="btn btn-sm btn-danger" style="border-radius:0px;">Anuluj</a>
                </div>
            </div>
        </div>
    }
</div>