@model CarService.Web.ViewModels.Order.Create

<div class="container">
    <div class="page-header">
        <h3>Nowa naprawa</h3>
    </div>
    <div class="panel panel-default" style="border-radius: 0px;">
        <div class="panel panel-heading" style="background-color: white; height:55px; border-radius: 0px;">
            <div class="btn btn-primary pull-right" style="border-radius: 0px;">Stwórz</div>
        </div>
    </div>
</div>