@model CarService.Web.ViewModels.Customer.CustomerEdit
<div class="container">
    <div class="page-header">
        <h3>Dodawanie klienta</h3>
    </div>
    @using (Html.BeginForm("Create", "Customer"))
    {
        @Html.ValidationSummary()
        <div class="panel panel-body panel-default" style="border-radius: 0px;">
            <div class="row">
                <div class="col-md-5 col-md-push-1">
                    @Html.Partial("Customer/Partial/_Edit", Model)
                </div>
                <div class="col-md-7">
                    @Html.EditorFor(m => m.AddressEdit, "Shared/EditorTemplates/AddressEdit")
                </div>
            </div>
            <button type="submit" class="btn btn-primary pull-right" style="border-radius:0px;">Zapisz</button>  
        </div>
    }
</div>